*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FFFF);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1.5px solid gray;
    /*outline: none;*/
    background-color: rgba(255, 255, 255, .65);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}